{
  "lines": 95,
  "statements": 95,
  "functions": 95,
  "branches": 95,
  "include": [
    "dist/src/**/*.js"
  ],
  "reporter": [
    "json",
    "html",
    "lcov",
    "text-summary"
  ],
  "sourceMap": true,
  "check-coverage": true
}